.hero{

height:95vh;

background:

linear-gradient(

rgba(0,0,0,.7),

rgba(3,7,18,.95)

),

url("/hero.jpg");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

padding-left:120px;

position:relative;

}

.hero-content{

width:650px;

z-index:10;

}

.hero h1{

font-size:4rem;

margin-bottom:25px;

line-height:1.1;

}

.hero p{

font-size:1.2rem;

color:#cbd5e1;

line-height:1.8;

}